:root {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #252b46;
  width: 100vw;
}

.ctablue {
  font-size: 3.2vw;
  padding: 1.5em;
  color: white;
  background-color: #5368df;
  width: 12.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px grey;
          box-shadow: 1px 1px grey;
  display: inline-block;
}

.ctagrey {
  font-size: 3.2vw;
  padding: 1.5em;
  background-color: F9F9F9;
  width: 12.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px grey;
          box-shadow: 1px 1px grey;
  display: inline-block;
}

p {
  font-size: 3.2vw;
  margin: 0 4em;
  margin-bottom: 3.2em;
}

nav {
  height: 7.2w;
  width: 84vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 10.4vw;
  margin-bottom: 21.3vw;
}

nav img {
  height: 98%;
}

nav .desktopmenu {
  display: none;
}

.hero {
  position: relative;
  margin-bottom: 13.3vw;
}

.hero .heroimage::before {
  content: "";
  display: block;
  background-color: #5368df;
  width: 100vw;
  height: 54.4vw;
  left: 23.2vw;
  top: 14.7vw;
  position: absolute;
  border-radius: 0 0 0 100px;
}

.hero img {
  width: 100vw;
  display: block;
}

.hero h1 {
  font-size: 6.1vw;
  text-align: center;
  margin: 0 2.1em;
  margin-bottom: 1.1em;
  margin-top: 14.6vw;
}

.hero .ctawrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 8.5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features {
  position: relative;
  margin-top: 14vw;
}

.features h2 {
  margin-top: 26.1vw;
  font-size: 5.5vw;
  text-align: center;
}

.features #selection {
  list-style: none;
  width: 82.4vw;
  text-align: center;
  margin-bottom: 18.9vw;
  position: relative;
}

.features #selection li {
  font-size: 3.4vw;
  padding: 1.7em;
  border-top: 1px solid grey;
  position: relative;
}

.features #selection li::before {
  content: "";
  height: 4px;
  width: 46%;
  position: absolute;
  left: 27%;
  bottom: 0;
  background-color: #fa5757;
  display: none;
}

.features #selection li:last-child {
  border-bottom: 1px solid grey;
}

.features #selection li.active::before {
  content: "";
  height: 4px;
  width: 46%;
  position: absolute;
  left: 27%;
  bottom: 0;
  background-color: #fa5757;
  display: block;
}

.features .bg {
  position: relative;
  margin-bottom: 41.8vw;
}

.features .featuresimg::before {
  content: "";
  display: block;
  background-color: #5368df;
  width: 70vw;
  height: 54vw;
  left: 0;
  top: 14.7vw;
  position: absolute;
  border-radius: 0 0  100px 0;
  z-index: -1;
}

.features img {
  height: 54vw;
  display: block;
  margin: auto;
}

.features .moreinfo {
  display: none;
}

.features .bookmarking {
  display: block;
}

.features .speedy, .features .easy {
  display: none;
}

.download h2 {
  margin-top: 26.1vw;
  font-size: 5.5vw;
  text-align: center;
}

.download .cards {
  width: 74.9vw;
  -webkit-box-shadow: 1px 1px 10px -4px  grey;
          box-shadow: 1px 1px 10px -4px  grey;
  display: block;
  margin: auto;
  margin-bottom: 11.4vw;
  border-radius: 9px;
  padding-top: 9vw;
  padding-bottom: 6.7vw;
  border-top: none;
}

.download .cards img {
  margin: auto;
  display: block;
  width: 26.7vw;
}

.download .cards h3 {
  text-align: center;
}

.download .cards p {
  text-align: center;
}

.download .cards .ctablue {
  margin: auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.faq {
  margin-bottom: 32.8vw;
}

.faq h2 {
  margin-top: 26.1vw;
  font-size: 5.5vw;
  text-align: center;
}

.faq .question {
  font-size: 3.2vw;
  width: 74.4vw;
  position: relative;
  text-align: left;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  padding-top: 2.7em;
  padding-bottom: 2em;
}

.faq .question::after {
  background-image: url(../images/icon-arrow.svg);
  width: 1.7em;
  height: 1.7em;
  content: "";
  right: 0;
  top: 40%;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
}

.faq .question p {
  margin: 0;
  display: none;
}

.faq .clicked::after {
  background-image: url(../images/icon-arrow.svg);
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  display: none;
}

.faq .ctablue {
  margin: auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4.3em;
}

.mailinglist {
  background-color: #5368df;
  color: white;
  font-size: 5.6vw;
  padding: 20vw 8.2vw 12vw 8.2vw;
  text-align: center;
}

.mailinglist p {
  font-size: 2.6vw;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.mailinglist h2 {
  font-size: 5.6vw;
  font-weight: normal;
  letter-spacing: 0.2em;
}

.mailinglist form input, .mailinglist form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12.8vw;
  width: 82.9vw;
  margin-bottom: 4vw;
  border-radius: 5px;
  border: none;
}

.mailinglist form input {
  padding-left: 5.6vw;
}

.mailinglist form button {
  background-color: #fa5757;
  color: white;
}

footer {
  background-color: #252b46;
  color: white;
  padding-top: 10.4vw;
  text-align: center;
  padding-bottom: 10.9vw;
}

footer svg {
  margin-bottom: 12vw;
  height: 7.5vw;
}

footer span {
  display: block;
  text-transform: uppercase;
  font-size: 2.9vw;
  margin-bottom: 9.8vw;
}

footer .socmed {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 23.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.mobilemenu {
  display: none;
  width: 100%;
  background-color: #252b46e8;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  position: absolute;
  color: #FCFFFF;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 10.7vw 8.5vw 13vw 8.5vw;
}

.mobilemenu .mobilenavwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82.7vw;
}

.mobilemenu span {
  width: 82.7vw;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #444A6A;
  display: block;
  padding-top: 5.7vw;
  padding-bottom: 6.9vw;
}

.mobilemenu .button {
  margin-top: 6.4vw;
  margin-bottom: 58.6vw;
  width: 82.7vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: #252b46;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.mobilemenu .socmed {
  width: 22.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 29.6vw;
}

@media only screen and (min-width: 767px) {
  nav {
    height: 2.7vw;
    width: 76.7vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8.1vw;
  }
  nav .hbgmenu {
    display: none;
  }
  nav .logo {
    height: 1.8vw;
  }
  nav .desktopmenu {
    color: #252b46;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 31.5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
  }
  nav .desktopmenu span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .desktopmenu .button {
    background-color: #fa5757;
    width: 7.7vw;
    height: 2.7vw;
    font-size: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 4px;
    color: white;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 34.7vw;
    margin-top: 0;
    width: 100vw;
  }
  .hero img {
    width: 40vw;
    height: auto;
    margin-right: 6.5vw;
  }
  .hero .heroimage::before {
    width: 34.6vw;
    height: 24.4vw;
    left: 66.2vw;
    top: 6.7vw;
  }
  .hero .herowrap h1 {
    font-size: 2.3vw;
    margin: 0;
    padding: 11vw;
  }
  .hero .herowrap p {
    font-size: 1.2vw;
  }
}
/*# sourceMappingURL=style.css.map */